body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1, h2, h3 {
    color: #333;
}

form {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 10px;
    padding: 5px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: center;
}

/* Container para os gráficos lado a lado */
.chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chart-item {
    flex: 1 1 45%;
    margin: 10px;
}

/* Ajusta os canvas para ocuparem 100% da largura do container */
canvas {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100% !important;
    height: auto !important;
}
